<mat-toolbar 
  style="background-color:rgb(3, 3, 39); color: white; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);"
>    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>SnapFix</span>
    <span class="example-spacer"></span>
    <div class="navigations">
        <a mat-button href="#" >
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
      
        <a mat-button href="#" >
          <mat-icon>info</mat-icon>
          <span>About</span>
        </a>
      
        <a mat-button href="#" >
          <mat-icon>phone</mat-icon>
          <span>Contact</span>
        </a>
      
        <!-- Icon buttons (no label text needed) -->
        <button mat-icon-button aria-label="Favorite">
          <mat-icon>favorite</mat-icon>
        </button>
      
        <button mat-icon-button aria-label="Share">
          <mat-icon>share</mat-icon>
        </button>
      </div>
  </mat-toolbar>
    
  
  